<!DOCTYPE html>
<html lang="en" ng-app="thailandpages-book" >

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Book</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">    

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="MainCtrl">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- /.navbar-header -->

            <ul class="nav">
     
              <li class="sidebar-search" style="padding: 5px; background: rgb(103, 0, 146) none repeat scroll 0px 0px;" >
                  <div style="height: 3em;" class="input-group custom-search-form">
                     
                    <!--   <input type="text" ng-model="yourName" class="form-control" placeholder="Search..." >
                      <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <i class="fa fa-search"></i>
                      </button> -->
                  </span>
                  </div>
              </li>
            </ul>

<!--             <ul class="nav navbar-top-links navbar-right" >
              <li class="navbar-right" >
                <img alt="ThailandBusinessPages" src="../images/thailand-business-pages.jpg" style="width: 13em;" >
              </li>
            </ul> -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" style="border-right: 1px solid rgb(231, 231, 231);" >
                        <li ng-repeat="name in menu" ng-class="$location.path() == '/'+name.name ? 'active' : ''" >
                            <a href="{{name.link}}" find-active-tab="1"  ng-click="set(name.name , name.subCategory)" style="min-height: 60px;" >  
                                <img ng-src="{{name.icon ? name.icon : '../images/icon-d.png' }}" style="position: absolute; height: 3em; width: 3em;" >
                                <span class="nameCategory" data-name="{{name.name}}"  style="display: block; padding-left: 50px;font-weight: 500;" >{{name.name}}</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <h1 class="page-header">Thailandpage Book</h1> -->
                    <img src="../images/logo-tbp.png" style="width: 20em; padding: 1em 0px;" alt="">
                    <img src="../images/category-logo/icon/00.png" style="width: 6em; padding: 1em; margin-left: 3em;" alt="">
                    <span class='text-header' >ไทยแลนด์ บิสซิเนสเพจเจส คู่มือซื้อขายสินค้าอุตสาหกรรม  THAILAND NUMBER ONE INDUSTRIAL SOURCING GUIDE </span>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <!-- /.row -->
            <div class="row">


            <div class="col-lg-12">
                <div class="panel panel-default">
                  <div class="panel-heading" ng-model="this_menu" >
                    <span><b>หมวดหมู่ / Category : </b>{{menu_name}}</span> <span style="float: right;" >หน้า</span>
                  </div>
                  <div class="panel-body"  >

                    <a my-target ng-repeat="subMenu in listSubCategory" href="{{subMenu.link}}" style="display: block;">
                        <div class="text-muted" >
                            {{$index+1}}.) {{subMenu.name}}
                            <div style="float:right" >
                                {{subMenu.page}}
                            </div>
                        </div> 

                    </a>
                  </div>
                  <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
              </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <!-- angular js -->
    
    <script type="text/javascript">

        var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
            // Opera 8.0+ (UA detection to detect Blink/v8-powered Opera)
        var isFirefox = typeof InstallTrigger !== 'undefined';   // Firefox 1.0+
        var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
            // At least Safari 3+: "[object HTMLElementConstructor]"
        var isChrome = !!window.chrome && !isOpera;              // Chrome 1+
        var isIE = /*@cc_on!@*/false || !!document.documentMode;   // At least IE6

    </script>



    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../js_data/sub01.js"></script>
    <script src="../js_data/sub02.js"></script>
    <script src="../js_data/sub03.js"></script>
    <script src="../js_data/sub04.js"></script>
    <script src="../js_data/sub05.js"></script>    
    <script src="../js_data/sub06.js"></script>
    <script src="../js_data/sub07.js"></script>
    <script src="../js_data/sub08.js"></script>
    <script src="../js_data/sub09.js"></script>
    <script src="../js_data/sub10.js"></script>
    <script src="../js_data/sub11.js"></script>
    <script src="../js_data/sub12.js"></script>
    <script src="../js_data/sub13.js"></script>
    <script src="../js_data/sub14.js"></script>      
    <script src="../js_data/sub15.js"></script>      
    <script src="../js_data/menu.js"></script>
    <script src="../app.js"></script>


</body>

</html>
